@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'react-toastify/dist/ReactToastify.css';

body {
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
  }

  .shadow-teal-500 {
    --tw-shadow: 0 4px 8px 2px rgba(0, 128, 128, 0.1), 0 2px 4px -1px rgba(0, 128, 128, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  body {
    margin: 0;
    padding: 0;
  }

  .bg{
    background-color: #1E1E1E;

}

.bgg{
  background-color: #121212;

}
.project-item {
  position: relative;
  overflow: hidden;
}

.project-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
}

.project-item:hover .project-info {
  opacity: 1;
}

.preview {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  display: none;
}

.project-item:hover .preview {
  display: block;
}


